.modularity-mod-shape-divider {
    line-height: 0;

    &-wrapper {
        display: inline-flex;
        margin-left: calc((-100vw - var(--scrollbar, 0px)) / 2 + 50% + var(--scrollbar, 0px));
        position: relative;
        width: calc(100vw - var(--scrollbar, 0px));

        @media screen and (min-width: 1248px) {
            margin-left: calc(-50vw + var(--container-width, 1200px) / 2 - var(--base, 8px) * 3 + var(--scrollbar, 0px) / 2);
        }

        svg {
            display: block;
            width: 100%;
            height: auto;
            max-width: none;
            pointer-events: none;
        }

        &.is-using-current-color svg,
        &.is-using-current-color svg [fill] {
            fill: currentColor;
        }
    }

    &.no-bottom-margin {
        margin-bottom: calc(var(--grid-gap, 2rem) * -1);
    }

    &.no-top-margin {
        margin-top: calc(var(--grid-gap, 2rem) * -1);
    }

    &.no-height {
        height: 0;

        .modularity-mod-shape-divider-wrapper {
            position: absolute;
            z-index: -1;
        }
    }

    &.no-height.overlap-up {
        .modularity-mod-shape-divider-wrapper {
            bottom: calc(var(--grid-gap, 2rem) * -2);
        }
    }

    &.no-height.overlap-down {
        .modularity-mod-shape-divider-wrapper {
            top: 0;
        }
    }

    &.flip-vertically:not(.flip-horizontally) {
        .modularity-mod-shape-divider-wrapper {
            transform: scale(1, -1);
        }
    }

    &.flip-horizontally:not(.flip-vertically) {
        .modularity-mod-shape-divider-wrapper {
            transform: scale(-1, 1);
        }
    }

    &.flip-vertically.flip-horizontally {
        .modularity-mod-shape-divider-wrapper {
            transform: scale(-1, -1);
        }
    }
}
